USE [master]
GO
/****** Object:  Database [fpt5]    Script Date: 3/28/2017 1:41:59 PM ******/
CREATE DATABASE [fpt5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'fpt5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\fpt5.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'fpt5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\fpt5_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [fpt5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [fpt5]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/28/2017 1:41:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[cateId] [int] IDENTITY(1,1) NOT NULL,
	[menuId] [int] NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[cateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Code]    Script Date: 3/28/2017 1:41:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Code](
	[codeId] [int] IDENTITY(1,1) NOT NULL,
	[submitId] [int] NULL,
	[code] [text] NULL,
 CONSTRAINT [PK_Code] PRIMARY KEY CLUSTERED 
(
	[codeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Editorial]    Script Date: 3/28/2017 1:41:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Editorial](
	[editId] [int] IDENTITY(1,1) NOT NULL,
	[subId] [int] NULL,
	[explain] [text] NULL,
	[code] [text] NULL,
	[language] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Leaderboard]    Script Date: 3/28/2017 1:41:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leaderboard](
	[leadId] [int] IDENTITY(1,1) NOT NULL,
	[subId] [int] NULL,
	[userId] [int] NULL,
	[submitId] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[menu]    Script Date: 3/28/2017 1:41:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu](
	[menuId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[positive] [int] NULL,
 CONSTRAINT [PK_menu] PRIMARY KEY CLUSTERED 
(
	[menuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Problem]    Script Date: 3/28/2017 1:41:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Problem](
	[proId] [int] IDENTITY(1,1) NOT NULL,
	[subId] [int] NULL,
	[description] [text] NULL,
	[constrain] [text] NULL,
	[inputRequire] [text] NULL,
	[outputRequire] [text] NULL,
	[inputTestcase] [text] NULL,
	[outputTestcase] [text] NULL,
	[explain] [text] NULL,
	[inputUser] [text] NULL,
 CONSTRAINT [PK_Problem] PRIMARY KEY CLUSTERED 
(
	[proId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Status]    Script Date: 3/28/2017 1:41:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[statusId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[subId] [int] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[statusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subject]    Script Date: 3/28/2017 1:41:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[subId] [int] IDENTITY(1,1) NOT NULL,
	[cateId] [int] NOT NULL,
	[title] [nvarchar](50) NULL,
	[successRate] [float] NULL,
	[maxScore] [int] NULL,
	[difficutly] [nvarchar](50) NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[subId] ASC,
	[cateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Submit]    Script Date: 3/28/2017 1:41:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submit](
	[submitId] [int] IDENTITY(1,1) NOT NULL,
	[subId] [int] NULL,
	[userId] [int] NULL,
	[time] [date] NULL,
	[point] [float] NULL,
	[code] [text] NULL,
	[language] [nvarchar](50) NULL,
 CONSTRAINT [PK_Submit] PRIMARY KEY CLUSTERED 
(
	[submitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Testcase]    Script Date: 3/28/2017 1:41:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Testcase](
	[testId] [int] IDENTITY(1,1) NOT NULL,
	[subId] [int] NULL,
	[input] [text] NULL,
	[output] [text] NULL,
	[timeAsk] [float] NULL,
 CONSTRAINT [PK_Testcase] PRIMARY KEY CLUSTERED 
(
	[testId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tutorial]    Script Date: 3/28/2017 1:41:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutorial](
	[tuId] [int] IDENTITY(1,1) NOT NULL,
	[cateId] [int] NULL,
	[title] [text] NULL,
	[positive] [int] NULL,
	[active] [bit] NULL,
 CONSTRAINT [PK_Tutorial] PRIMARY KEY CLUSTERED 
(
	[tuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TutorialCode]    Script Date: 3/28/2017 1:41:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TutorialCode](
	[tuCoId] [int] IDENTITY(1,1) NOT NULL,
	[tuId] [int] NULL,
	[title] [text] NULL,
	[description] [text] NULL,
	[code] [text] NULL,
	[positive] [int] NULL,
 CONSTRAINT [PK_TutorialCode1] PRIMARY KEY CLUSTERED 
(
	[tuCoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[type]    Script Date: 3/28/2017 1:41:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type](
	[typeId] [int] NOT NULL,
	[type] [nvarchar](50) NULL,
 CONSTRAINT [PK_type] PRIMARY KEY CLUSTERED 
(
	[typeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User1]    Script Date: 3/28/2017 1:41:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User1](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[avatar] [nvarchar](50) NULL,
	[university] [nvarchar](50) NULL,
	[point] [float] NULL,
	[typeUser] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([cateId], [menuId], [name]) VALUES (1, 1, N'HTML')
INSERT [dbo].[Categories] ([cateId], [menuId], [name]) VALUES (2, 1, N'JAVASCRIPT')
INSERT [dbo].[Categories] ([cateId], [menuId], [name]) VALUES (3, 1, N'CSS')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Leaderboard] ON 

INSERT [dbo].[Leaderboard] ([leadId], [subId], [userId], [submitId]) VALUES (1, 0, 1, 1)
SET IDENTITY_INSERT [dbo].[Leaderboard] OFF
SET IDENTITY_INSERT [dbo].[menu] ON 

INSERT [dbo].[menu] ([menuId], [name], [positive]) VALUES (1, N'tutorials', 1)
INSERT [dbo].[menu] ([menuId], [name], [positive]) VALUES (2, N'Practics', 2)
SET IDENTITY_INSERT [dbo].[menu] OFF
SET IDENTITY_INSERT [dbo].[Problem] ON 

GO
SET IDENTITY_INSERT [dbo].[Problem] OFF
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([statusId], [userId], [subId], [status]) VALUES (1, 0, 0, 1)
INSERT [dbo].[Status] ([statusId], [userId], [subId], [status]) VALUES (2, 0, 0, 1)
INSERT [dbo].[Status] ([statusId], [userId], [subId], [status]) VALUES (3, 0, 0, 1)
SET IDENTITY_INSERT [dbo].[Status] OFF
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([subId], [cateId], [title], [successRate], [maxScore], [difficutly]) VALUES (0, 10, N'Bear and Big Brother', 0, 10, N'easy')
INSERT [dbo].[Subject] ([subId], [cateId], [title], [successRate], [maxScore], [difficutly]) VALUES (1, 10, N'Not Afraid', 0, 15, N'normal')
INSERT [dbo].[Subject] ([subId], [cateId], [title], [successRate], [maxScore], [difficutly]) VALUES (2, 10, N'The Monster', 0, 70, N'hard')
GO
SET IDENTITY_INSERT [dbo].[Subject] OFF
SET IDENTITY_INSERT [dbo].[Submit] ON 

INSERT [dbo].[Submit] ([submitId], [subId], [userId], [time], [point], [code], [language]) VALUES (1, 1, 1, CAST(0x693C0B00 AS Date), 15, N'print ''hello''', N'python')
SET IDENTITY_INSERT [dbo].[Submit] OFF
SET IDENTITY_INSERT [dbo].[Testcase] ON 

INSERT [dbo].[Testcase] ([testId], [subId], [input], [output], [timeAsk]) VALUES (0, 1, N'70 70 70 70 70 -15', N'0 -1 0 0', 5)
INSERT [dbo].[Testcase] ([testId], [subId], [input], [output], [timeAsk]) VALUES (1, 2, N'2014 2016 2015', N'117 71 150 243 200', 5)
INSERT [dbo].[Testcase] ([testId], [subId], [input], [output], [timeAsk]) VALUES (2, 3, N'117 71 150 243 200', N'2014 2016 2015', 5)
GO
SET IDENTITY_INSERT [dbo].[Testcase] OFF
SET IDENTITY_INSERT [dbo].[Tutorial] ON 

INSERT [dbo].[Tutorial] ([tuId], [cateId], [title], [positive], [active]) VALUES (0, 1, N'HTML Introduction', 1, 1)
INSERT [dbo].[Tutorial] ([tuId], [cateId], [title], [positive], [active]) VALUES (1, 1, N'HTML Editors', 2, 1)
INSERT [dbo].[Tutorial] ([tuId], [cateId], [title], [positive], [active]) VALUES (2, 1, N'HTML Basic Examples', 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Tutorial] OFF
SET IDENTITY_INSERT [dbo].[TutorialCode] ON 

INSERT [dbo].[TutorialCode] ([tuCoId], [tuId], [title], [description], [code], [positive]) VALUES (0, 1, N'What is HTML?
', N'HTML is the standard markup language for creating Web pages.

HTML stands for Hyper Text Markup Language
HTML describes the structure of Web pages using markup
HTML elements are the building blocks of HTML pages
HTML elements are represented by tags
HTML tags label pieces of content such as "heading", "paragraph", "table", and so on
Browsers do not display the HTML tags, but use them to render the content of the page
', N'', 1)
INSERT [dbo].[TutorialCode] ([tuCoId], [tuId], [title], [description], [code], [positive]) VALUES (1, 1, N'HTML Tags', N'HTML tags are element names surrounded by angle brackets:', N'<tagname>content goes here...</tagname>', 2)
INSERT [dbo].[TutorialCode] ([tuCoId], [tuId], [title], [description], [code], [positive]) VALUES (2, 1, N'A Simple HTML Document
', N'', N'<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>My First Heading</h1>
<p>My first paragraph.</p>

</body>
</html>', 3)
GO
SET IDENTITY_INSERT [dbo].[TutorialCode] OFF
INSERT [dbo].[type] ([typeId], [type]) VALUES (1, N'admin')
INSERT [dbo].[type] ([typeId], [type]) VALUES (2, N'user')
SET IDENTITY_INSERT [dbo].[User1] ON 

INSERT [dbo].[User1] ([userId], [username], [password], [avatar], [university], [point], [typeUser]) VALUES (1, N'admin', N'admin', N'img/custom/phuong.jpg', N'', 0, 1)
SET IDENTITY_INSERT [dbo].[User1] OFF
USE [master]
GO
